
.profileContainer {
  display: flex;
  margin: 20px;
}



.pCard{
  width: 400px;
}


/* @media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
} */